
// Override sanitize default variables here if desired

@import "_sanitize";

// Your global styles go here.
// It's recommended to break up your rules on a per-component basis and let each component inject them lazily.

// Write your code without vendor-prefixing wherever possible, Autoprefixer will add them for you during compilation.
// e.g. display: flex;   ------>  display: webkit-flex; display: webkit-box; etc.
